<!--  Course name: Web Application Development
      Course code:COMP229-008
      Assignment: 1
      Student ID: 301246562
      Student Name: Sing Cheung Tin
      Date:   May 20, 2023
      Filename: footer.ejs
-->

<footer>
  <div>
    <small>&copy;&nbsp;&nbsp;Copyright Sing Cheung Tin - Student Number: 301246562 - Web Application Development - Summer 2023</small>
  </div>
</footer>