<!DOCTYPE html>
<html>
<body>
<header>
  <!-- <div style="background-color: rgb(255, 204, 0);"> -->
  <!-- <div style="background-color: rgb(220, 220, 150);"> -->
  <div>
    <img src="/images/logo.gif" alt="Setas logo" height="105" width="567">
  </div>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact Me</a></li>
      </ul>
  </nav>
</header>
</body>
</html>