<!DOCTYPE html>
<html>
<head>
    <!--
      Author: Sing Cheung Tin
      Date:   May 20, 2023

      Filename: assignment1.html
    -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home Page</title>
   <link rel="stylesheet" href="../public/stylesheets/assignment1.css"/>
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous">
   </script>
   <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
      integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
      crossorigin="anonymous"></script>
   <!-- <script src="assignment1.js" defer></script> -->
<!-- </head> -->
<body>
  <%- include('partials/header') %>
  <!-- <a href="/contact">Contact Me</a> -->
  <!-- <header>
    <div style="background-color: rgb(255, 204, 0);">
      <img src="../public/images/logo.gif" alt="Setas logo" height="105" width="567">
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>
  </header> -->
</body>
<footer></footer>
</html>