<!--  COMP229-008
      Assignment: 1
      Author: Sing Cheung Tin
      Date:   May 20, 2023
      Filename: projects.ejs
-->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/assignment1.css' />
</head>
<body>
  <%- include('partials/header') %>
  <section>
    <p>In the past two semesters, I have completed several projects. Here are three of them I would like to introduce.</p>
    <h1>Project 1 - Real Estate Properties Website</h1>
    <img src="/images/prjestatesmall.png" alt="Real Estate Properties" height="233" width="208">
    <p>This is an individual project of COMP213 - Web Interface Design in my first semester. It is a website for a real estate property company.</p>
    <p>The website has three main pages. They are Home, Property, and Contact. There are three sub menus of property menu.
    Each submenu introduces one property which includes property type, building type, number of bathroom and bedroom, price, and so forth.
    The contact page is a form design which allows potential customer to submit if they have further inquiry. It is a website that the techniques
    I've learned in the course. It included HTML, Form, and CSS.</p>

    <h1>Project 2 - E-commerce Database Project</h1>
    <img src="/images/prjerdsmall.png" alt="ER Diagram" height="184" width="328">
    <p>This is a group project of COMP122-Introduction to Database Concepts in second semester.
    We designed a database structure for an online system that selling smartphone.</p>
    <p>The database structure includes six tables to store different data. They are customer,
    product, orders, orderitems,inventory, and shopping cart. In addition, we also need to provide
    some useful query for customer to generate report and search items. I was responded to design the
    tables and the ER diagram. I also did the presentation for the parts I've done.</p>

    <h1>Project 3 - Bug Smasher</h1>
    <img src="/images/prjbugsmashersmall.png" alt="Bug Smasher" height="220" width="242">
    <p>This is an individuall project of COMP125 - Client Side Web Development in my second semester. It is a game playing on browser.</p>
    <p>In this project, I need to design a web application game using JavaScript. The speed of bug catching will be increased gradually
      when more bugs are caught. However, the player can reset the speed without stopping the game using the "Reset Score" button.
      There are second and third buttons. They are "Reset Speed" and "Start/Stop Game". The second button likes a restart key to play
      game at the beginning. The third button is to start or stop game.</p>
  </section>
</body>
<%- include('partials/footer') %>
</html>
