<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/assignment1.css' />
</head>
<body>
  <%- include('partials/header') %>
  <section>
    <p>The professional services described below are available to individuals who are interested in them.</p>
    <h1>Web Development and Maintenance</h1>
    <ul class="servicesw">
      <li>Help to maintain existing web site or design a new web site</li>
      <li>Services include web content update, new feature addon, and web site revamp</li>
    </ul>
    <h1>Infrastructure Setup and Support</h1>
    <ul class="servicesi">
      <li>Help to upgrade Infrastructure for existing site or setup Infrastructure for a new site</li>
      <li>Provide support and maintenance of Infrastructure</li>
      <li>Infrastructure includes network switch, next-generation firewall VPN, and router devices</li>
    </ul>
  </section>
</body>
<%- include('partials/footer') %>
</html>
