<!--  Course name: Web Application Development
      Course code:COMP229-008
      Assignment: 1
      Student ID: 301246562
      Student Name: Sing Cheung Tin
      Date:   May 20, 2023
      Filename: login.ejs
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/assignment1.css' />
  </head>
  <body>
    <%- include('partials/header') %>
    <section>
      <div class="content form-login">
        <form action="/login" method="POST">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br><br>
          <button class="button" type="submit">Login</button>
        </form>
      </div>
    </section>
  </body>
  <%- include('partials/footer') %>
</html>